.sticky {
  position: fixed;
  top: 0;
  backdrop-filter: blur(50px);
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Ajusta el color de fondo y la opacidad según tus necesidades */
  width: 100%;
  z-index: 100;
  transition: backdrop-filter 0.3s ease;
}
